<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Create a New Entry</title>
    <th:block th:replace="/fragments/styling :: head-style" ></th:block>
  </head>
  <body>
  	<div class="container">
  	<div th:replace="fragments/navbar :: navbar" ></div>
  		<h1>Create a New Address Entry</h1>
		<form action="#" th:action="@{/addressentries}" th:object="${addressEntry}" method="post">
		
 			<div class="form-group">
 				<input type="text" class="form-control" placeholder="First Name..." th:field="*{firstName}" />
 			</div>
 			
 			 <div class="form-group">
 				<input type="text" class="form-control" placeholder="Last Name..." th:field="*{lastName}" />
 			</div>
 		
 			<div class="form-group">
 				<input type="text" class="form-control" placeholder="Phone Number..." th:field="*{phoneNumber}" />
 			</div>
 		
 			<div class="form-group">
 				<input type="text" class ="form-control" placeholder="Email Address..." th:field="*{emailAddress}" />
 			</div>

 			<button class="btn btn-primary">Submit Your Entry</button>
		</form>		
	</div>
    <div th:replace="/fragments/styling :: body-links" ></div>
  </body>
</html>